params {
    L = "/home/jwsonglab/Desktop/Kijin_Kim/seov_consensus/References/SEOV_L.fasta"
    M = "/home/jwsonglab/Desktop/Kijin_Kim/seov_consensus/References/SEOV_M.fasta"
    S = "/home/jwsonglab/Desktop/Kijin_Kim/seov_consensus/References/SEOV_S.fasta"

    variant_quality_threshold=10
    variant_depth_threshold=50
    low_cov_threshold=5
}
