params {
    help=false

    L="/home/jwsonglab/Desktop/Kijin_Kim/seov_consensus/References/SEOV_L.fasta"
    M="/home/jwsonglab/Desktop/Kijin_Kim/seov_consensus/References/SEOV_M.fasta"
    S="/home/jwsonglab/Desktop/Kijin_Kim/seov_consensus/References/SEOV_S.fasta"

    indel_filter_script="/home/jwsonglab/Desktop/Kijin_Kim/seov_consensus/filter_indel_with_sr.py"
    variant_quality_threshold=10
    variant_depth_threshold=50
    low_cov_threshold=5
}
